<div class="flex h-[400px] overflow-hidden">
  <div class=" w-1/4 p-2 overflow-y-auto">
    <!-- Header with streaming status -->
    <div class="flex justify-between items-center mb-2">
      <h2 class="text-sm font-semibold text-blue-900">Market Overview</h2>
      
      <!-- Streaming Status and Controls -->

    </div>
    
    <!-- Market indices with live indicators -->
    <div *ngFor="let index of indices" class="mb-1 px-2 py-1 rounded-md shadow-sm border text-xs">
      <h3 class="font-bold">{{ index.name }}</h3>
      <div class="flex items-center">
        <p> ${{ formatNumber(index.current_price) }}</p>
      </div>
      <p [ngClass]="index.day_change >= 0 ? 'text-green-600' : 'text-red-600'">
        ${{ formatNumber(index.day_change) }} ({{ formatPercent(index.day_change_percent) }})
      </p>
    </div>
  </div>
  
  
  <div class="w-3/4">
    <app-watchlist></app-watchlist>
  </div>
</div>