.graph-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 320px 320px;
  grid-template-areas:
    "networth networth"
    "holdings gainloss";
  height: 100%;
  overflow-y: hidden;

}

.networth {
  grid-area: networth;
  padding: 20px;
  margin: 15px 15px 8px 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.holdings {
  grid-area: holdings;
  padding: 20px;
  margin: 7px 7px 15px 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.gainloss {
  grid-area: gainloss;
  padding: 20px;
  margin: 7px 15px 15px 8px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

