.graph-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 305px 305px;
  grid-template-areas:
    "networth networth"
    "holdings gainloss";
  height: calc(100% - 10px);
  overflow-y: hidden;
  gap: 10px;
  padding: 15px;

}

.networth {
  grid-area: networth;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.holdings {
  grid-area: holdings;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.gainloss {
  grid-area: gainloss;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

apx-chart {
  max-width: 100%;
  overflow: hidden;
  display: block;
}

